In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/california-housing-prices/housing.csv

In [2]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
housing = pd.read_csv("../input/california-housing-prices/housing.csv")

In [4]:
housing.head(20)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY
10,-122.26,37.85,52.0,2202.0,434.0,910.0,402.0,3.2031,281500.0,NEAR BAY
11,-122.26,37.85,52.0,3503.0,752.0,1504.0,734.0,3.2705,241800.0,NEAR BAY
12,-122.26,37.85,52.0,2491.0,474.0,1098.0,468.0,3.0750,213500.0,NEAR BAY
13,-122.26,37.84,52.0,696.0,191.0,345.0,174.0,2.6736,191300.0,NEAR BAY
14,-122.26,37.85,52.0,2643.0,626.0,1212.0,620.0,1.9167,159200.0,NEAR BAY
15,-122.26,37.85,50.0,1120.0,283.0,697.0,264.0,2.1250,140000.0,NEAR BAY
16,-122.27,37.85,52.0,1966.0,347.0,793.0,331.0,2.7750,152500.0,NEAR BAY
17,-122.27,37.85,52.0,1228.0,293.0,648.0,303.0,2.1202,155500.0,NEAR BAY
18,-122.26,37.84,50.0,2239.0,455.0,990.0,419.0,1.9911,158700.0,NEAR BAY
19,-122.27,37.84,52.0,1503.0,298.0,690.0,275.0,2.6033,162900.0,NEAR BAY

In [5]:
housing["ocean_proximity"] = housing["ocean_proximity"].astype('category')

In [6]:
housing["ocean_cat"] = housing["ocean_proximity"].cat.codes

In [8]:
legend = housing["ocean_proximity"]

In [9]:
del housing["ocean_proximity"]

In [11]:
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_cat
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,3
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,3
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,3
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,3
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,3
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,1
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,1
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,1
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,1
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,1

In [17]:
housing1 = housing[housing.isnull().any(axis=1)]
housing1.tail(35)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_cat
18177,-122.00,37.36,17.0,2070.0,NaN,797.0,275.0,8.6155,411200.0,0
18246,-122.08,37.39,4.0,2292.0,NaN,1050.0,584.0,4.8036,340000.0,3
18261,-122.08,37.37,29.0,1229.0,NaN,707.0,194.0,7.1108,465000.0,3
18332,-122.16,37.45,47.0,4234.0,NaN,1808.0,1093.0,4.2297,425000.0,3
18346,-122.15,37.43,20.0,11709.0,NaN,7604.0,3589.0,1.9045,375000.0,3
18466,-121.75,37.11,18.0,3167.0,NaN,1414.0,482.0,6.8773,467700.0,0
18786,-122.42,40.44,16.0,994.0,NaN,495.0,181.0,2.1875,76400.0,1
18873,-122.22,38.08,37.0,2811.0,NaN,1574.0,516.0,3.1053,96700.0,3
18914,-122.22,38.15,7.0,5129.0,NaN,2824.0,738.0,5.5138,171100.0,3
19060,-122.41,38.16,37.0,1549.0,NaN,863.0,275.0,2.7457,254700.0,3
19071,-122.53,38.32,22.0,3577.0,NaN,1371.0,501.0,5.7950,332300.0,0
19122,-122.65,38.25,23.0,4030.0,NaN,1852.0,778.0,3.4020,193300.0,0
19150,-122.70,38.35,14.0,2313.0,NaN,954.0,397.0,3.7813,146500.0,0
19252,-122.79,38.48,7.0,6837.0,NaN,3468.0,1405.0,3.1662,191000.0,0
19332,-122.91,38.46,18.0,2021.0,NaN,912.0,329.0,4.5000,251900.0,0
19391,-120.85,37.78,25.0,421.0,NaN,303.0,106.0,2.2679,71300.0,1
19402,-120.93,37.73,14.0,2799.0,NaN,2294.0,596.0,2.6343,81500.0,1
19485,-120.98,37.66,10.0,934.0,NaN,401.0,255.0,0.9336,127100.0,1
19559,-120.98,37.60,36.0,1437.0,NaN,1073.0,320.0,2.1779,58400.0,1
19607,-121.02,37.48,26.0,467.0,NaN,244.0,83.0,4.1346,187500.0,1
19638,-120.97,37.43,27.0,1380.0,NaN,810.0,262.0,2.1875,137500.0,1
19766,-122.10,40.03,25.0,2516.0,NaN,1266.0,494.0,1.7566,58400.0,1
19818,-119.30,36.57,32.0,728.0,NaN,461.0,149.0,3.0156,109100.0,1
19833,-119.38,36.53,38.0,1281.0,NaN,1423.0,293.0,1.9602,51400.0,1
19890,-119.15,36.29,18.0,1435.0,NaN,657.0,254.0,2.4281,72500.0,1
19932,-119.33,36.30,11.0,3045.0,NaN,1563.0,516.0,5.4337,133800.0,1
19959,-119.32,36.25,21.0,1231.0,NaN,609.0,206.0,2.8365,90000.0,1
20046,-119.01,36.06,25.0,1505.0,NaN,1392.0,359.0,1.6812,47700.0,1
20069,-120.37,38.01,30.0,473.0,NaN,242.0,93.0,2.5417,123200.0,1
20125,-118.80,34.41,45.0,1610.0,NaN,1148.0,347.0,2.7000,120400.0,0
20267,-119.19,34.20,18.0,3620.0,NaN,3171.0,779.0,3.3409,220500.0,4
20268,-119.18,34.19,19.0,2393.0,NaN,1938.0,762.0,1.6953,167400.0,4
20372,-118.88,34.17,15.0,4260.0,NaN,1701.0,669.0,5.1033,410700.0,0
20460,-118.75,34.29,17.0,5512.0,NaN,2734.0,814.0,6.6073,258100.0,0
20484,-118.72,34.28,17.0,3051.0,NaN,1705.0,495.0,5.7376,218600.0,0

In [ ]:
###the Nan are not removed since studio apartments don't have dedicated bedroom space

In [20]:
import statsmodels.formula.api as smf
lm = smf.ols(formula='median_house_value~housing_median_age+total_rooms+total_bedrooms+population+households+median_income+ocean_cat-1', data = housing).fit()
print(lm.summary())

array([3, 0, 1, 4, 2])